body {
  width: 380px;
  margin: auto;
}

/* header */

.site-header {
  background-image: url(../img/fond_fruits.webp);
  background-size: cover;
  padding: 30px;
}

.site-header .title-container {
  background: #ffffffdd;
  padding: 20px 50px;
  text-align: center;
  margin-bottom: 30px;
}

.site-header p {
  color: #57BB6B;
  font-family: "Quattrocento";
  font-size: 20px;
}

/* main */

.presentation {
  text-align: center;
  padding: 70px;
}

.products {
  text-align: center;
  background: #57BB6B;
  color: #ffffff;
  padding: 70px;
}

.products img {
  width: 80px;
}

.products-list {
  text-align: left;
  color: #000000;
}

.product-banana {
  padding: 0px 30px;
  background-color: #FFF8D7;
  margin: 10px;
  text-decoration: none;
  border-radius: 25px;
}

.product-kiwi {
  padding: 0px 30px;
  background-color: #C4F2AD;
  margin: 10px;
  text-decoration: none;
  border-radius: 25px;
}

.product-coffee {
  padding: 0px 30px;
  background-color: #D3C6B2;
  margin: 10px;
  text-decoration: none;
  border-radius: 25px;
}

.product-strawberry {
  padding: 0px 30px;
  background-color: #F7A4B4;
  margin: 10px;
  text-decoration: none;
  border-radius: 25px;
}

/* footer */

footer {
  background: #ffffff;
  text-align: center;
}

footer h2 {
  color: #57BB6B;
}

.button {
  padding: 0px 30px;
  background-color: #57BB6B;
  margin: 10px;
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;
  font-size: 20px;
}

footer p {
  color: #57BB6B;
}

.fruit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fruit-container img {
  width: 28px;
}

/* main page kiwi */

.presentations {
  background-color: #C4F2AD;
  padding: 70px;
}

.product-title {
  font-size: 30px;
}

.product-quote {
  opacity: 0.5;
  font-size: 16px;
}

.round-vignette {
  background-color: #ffffff;
  padding: 35px;
  border-radius: 50%;
  margin: 35px;
}

.round-vignette img {
  width: 100px;
}

.description {
  background-color: #57BB6B;
  padding: 70px;
  color: #ffffff;
}

.description h2 {
  font-size: 26px;
}

.description p {
  font-size: 16px;
}

.description figure {
  width: 100%;
  margin: 0px;
}

.description figure img {
  width: 100%;
}

.products-section {
  background-color: #C4F2AD;
  padding: 30px;
}

.products-section h2 {
  font-size: 26px;
  text-align: center;
}

.product-list {
  padding: 30px 0px;
  display: flex;
}